.about {
    &.hero {
        background: rgba(245, 235, 230, 0.6);

        .hero__title {
            font-size: 6.4rem;
        }

        .hero__content {
            max-width: 700px;

            @media (max-width: $laptop-landscape) {
                max-width: 500px;
            }
        }

        @media (max-width: $laptop-landscape) {
            .hero__images {
                right: calc((100vw - 1370px) / 2);
            }
        }

        @media (min-width: $laptop-portrait + 1) {
            padding: 261px 0 158px;
            min-height: 100vh;
        }

        @media (max-width: $laptop-portrait) {
            padding-top: 130px;

            .hero__images {
                right: calc((100vw - 1370px + 200px) / 2)
            }
        }
    }
}

.page-template-page-about {
      @media (min-width: $laptop-portrait) {
          .hero__small_images {
              position: relative;
          }

          .hero__small_img {
              width: auto;
              height: auto;
              position: absolute;
              z-index: 1;

              &:nth-child(1) {
                  bottom: -60px;
                  left: calc((100vw - 1370px + 110px) / 2);
              }

              &:nth-child(2) {
                  left: calc((100vw - 1370px) / 2);
                  top: -734px;
              }

              &:nth-child(3) {
                  bottom: 88px;
                  left: calc((100vw - 1370px + 420px) / 2);
              }
          }
    }

    @media (max-width: $laptop-landscape) {
        .hero__small_images {
            display: none;
        }
    }
}